.dalil{
    width: 300px;
    height: 300px;
    border: 1px solid red;
    position: relative;
    left: 800px;
    top: 110px;
    border-radius: 10px;
    cursor: pointer;
}
.dalil > img{
    width: 200px;
    height: 200px;
    margin-left: 40px;
    margin-top: 30px;
    border-radius:6px ;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.dalil:hover{
    transition: all 2s;
    background-image: url(./DSC_0000633.jpg);
}
.dalil2{
    width: 300px;
    height: 300px;
    border: 1px solid red;
    position: relative;
    left: 200px;
    bottom:200px ;
    border-radius: 10px;
}
 .dalil2 > img{
    width: 200px;
    height: 200px;
    margin-left: 40px;
    margin-top: 30px;
    border-radius:6px ;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.dalil2:hover{
    transition: all 2s;
    background-image: url(./kata.jpg);
}
h1{
    margin-left: 550px;
    margin-top: 80px;
}
h3{
    position: relative;
    bottom: 190px;
    left: 600px;
}
a{
    position: relative;
    bottom: 200px;
    left: 650px;
    color: red;
}
.vidyo{
    width: 300px;
    height: 300px;
    border: 1px solid red;
    position: relative;
    left: 500px;
    bottom: 400px;
    border-radius: 10px;
    cursor: pointer;
}
p{
    position: relative;
    left: 600px;
    bottom: 400px;
}
video{
    border-radius: 10px;
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    margin-left: 65px;
}
.rasim{
    width: 300px;
    height: 300px;
    border: 1px solid red;
    position: relative;
    left: 800px;
    bottom: 400px;
    border-radius: 10px;
    cursor: pointer;
}
 .rasim > img{
    width: 200px;
    height: 250px;
    margin-left: 40px;
    margin-top: 30px;
    border-radius:6px ;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}