h1{
    position: relative;
    top: 200px;
    left: 640px;
    color: blue;
}
.yoyo{
    width: 200px;
    height: 30px;
    border: 1px solid red;
    text-align: center;
    padding-top: 5px;
    border-radius: 50px;
    position: relative;
    left: 800px;
    top: 333px;
    background-color: blue;
}
.yoyo > a{
    color: red;
    font-size: 20px;
}
.haha{
    width: 200px;
    height: 30px;
    border: 1px solid red;
    text-align: center;
    padding-top: 5px;
    border-radius: 50px;
    position: relative;
    left: 500px;
    top: 300px;
}
h2{
    position: relative;
    left: 640px;
    top: 250px;
}